# Dependency directories
node_modules/
functions/node_modules/
functions/vroom-vroom-2-5d-firebase-adminsdk-fbsvc-15284ae042.json
.pnp/
.pnp.js

# Build artifacts
dist/
build/
public/dist/
lib/
out/
.cache/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend Express
server/node_modules/

# Claude
CLAUDE.md
.claude/